<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>UrlShortener</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <div class="container-fluid">
        <div class="jumbotron" style="text-align: center;">

            <h1 class="display-4">Welcome to the URL Shortener
            </h1>
        </div>
        <footer class="footer container-fluid my-4">
            <hr>
            <span class="row justify-content-center text-muted">

            </span>
        </footer>
    </div>

    <!-- FORM -->
    <form action="/create" method="POST">
        <div class="form-group row justify-content-md-center">

            <input required="" type="url" class="col-lg-3 col-12 form-control" name="longurl"
                placeholder="Enter original URL">
        </div>

        <div class="form-group row justify-content-md-center">
            <button type="submit" class="col-12 col-lg-4 btn btn-primary" value="Submit">Submit
            </button>
        </div>

    </form>
    <div style="margin: auto;" class="row justify-content-md-center table-responsive-sm">
        <%for(let i=0;i<urlResult.length;i++){%> 
        <table style="padding: 0 25px 0 25px;" class="table table-hover col-12 col-md-10 col-lg-6">
            <thead>
                <tr>
                    
                    <th>Long URL
                    </th>
                    <th>Short URL</th>
                    <th>Delete</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    </th>
                    <td>http://localhost:8000/<%=urlResult[i].longUrl%></td>
                    <td><a  href="http://localhost:8000/<%=urlResult[i].shortUrl%>"target="_blank">http://localhost:8000/<%=urlResult[i].shortUrl%></a></td>
                    <td> <a href="/delete/<%= urlResult[i].id %>" class="btn btn-sm btn-danger">Remove</a></td>
                </tr>
            </tbody>
        </table>
        <% } %>
    </div>








</body>

</html>